
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.cart-bounce {
 animation: cartBounce 0.3s ease;
}

@keyframes cartBounce {
 0% { transform: scale(1); }
 50% { transform: scale(1.2); }
 100% { transform: scale(1); }
}
.scrollbar-hide {
 scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
 display: none;
}
.price-slider {
 -webkit-appearance: none;
 appearance: none;
 width: 100%;
 height: 8px;
 border-radius: 999px;
 outline: none;

 /* IMPORTANT: base track */
 background: #e5e7eb; /* light gray track */
}

/* Chrome/Safari track */
.price-slider::-webkit-slider-runnable-track {
 height: 8px;
 border-radius: 999px;
 background: transparent;
}

/* PROGRESS (GREEN PART) */
.price-slider {
 background: linear-gradient(
 to right,
 #16a34a 0%,
 #16a34a var(--value, 50%),
#e5e7eb var(--value, 50%),
 #e5e7eb 100%
 );
}

/* THUMB */
.price-slider::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 18px;
 height: 18px;
 background: #16a34a;
 border-radius: 50%;
 cursor: pointer;
 margin-top: -5px;
}
.main{
background-position: center;
background-image:url() ;
background-size: cover;
}
